.rgbPercentageExample {
	background-color: rgb(52%,20%,45%);
	color: rgb(100%,100%,100%);
}

.rgbColorName {
	color: darkslategray;
}

.rgbColorInteger {
	color: rgb(144,238,144);
}

.rgbColorHex {
	background-color: #0f42ba;
}

.rgbColor&Opac {
	background-color: rgb(255,255,0); 
	opacity: .4;
}


.hslColorPercentage {
	background-color: hsl(120,50%,75%);
}

.hslColor&Opac {
	background-color: hsla(120,50%,75%,.5);
}


//red colors

.lightsalmon {
	color: #FFA07A;	
	color: rgb(255,160,122);
}
 	
.salmon {	
	color: #FA8072;	
	color: rgb(250,128,114);
}
 	
.darksalmon {	
	color: #E9967A;	
	color: rgb(233,150,122);
 	
.lightcoral {	
	color: #F08080;	
	color: rgb(240,128,128);
}

.indianred {	
	color: #CD5C5C;	
	color: rgb(205,92,92);
}
 	
.crimson {	
	color: #DC143C;
	color: rgb(220,20,60);
}

.firebrick {
	color: #B22222;	
	color: rgb(178,34,34);
}

.red {
	color: #FF0000;	
	color: rgb(255,0,0);
}

.darkred {
	color: #8B0000;	
	color: rgb(139,0,0);
}


// orange colors
.coral {	
	color: #FF7F50;	
	color: rgb(255,127,80);
}

.tomato	{
	color: #FF6347;
	color: rgb(255,99,71);
}

.orangered {
	color: #FF4500	
	color: rgb(255,69,0);
}

.gold {
	color: #FFD700;	
	color: rgb(255,215,0);
}

.orange	{
	color: #FFA500;
	color: rgb(255,165,0);
}

.darkorange {
	color: #FF8C00;
	color: rgb(255,140,0);
}

// yellow colors
.lightyellow {
	color:	#FFFFE0;	
	color: rgb(255,255,224);
}

.lemonchiffon {
	color:	#FFFACD;	
	color: rgb(255,250,205);
}

.lightgoldenrodyellow {
	color: #FAFAD2;	
	color: rgb(250,250,210);
}

.papayawhip {
	color:	#FFEFD5;	
	color: rgb(255,239,213);
}

.moccasin {
	color: #FFE4B5;	
	color: rgb(255,228,181);
}

.peachpuff {
	color: #FFDAB9;	
	color: rgb(255,218,185);
}

.palegoldenrod	{
	color: #EEE8AA;
	color: rgb(238,232,170);
}

.khaki	{
	color: #F0E68C;	
	color: rgb(240,230,140);
}

.darkkhaki {
	color: #BDB76B;	
	color: rgb(189,183,107);
}

.yellow	{
	color: #FFFF00;	
	color: rgb(255,255,0);
}

// green colors

.lawngreen {
	color:#7CFC00;	
	color:rgb(124,252,0);
}

.chartreuse {
	color:#7FFF00;	
	color:rgb(127,255,0);
}

.limegreen {
	color:#32CD32;	
	color:rgb(50,205,50);
}

.lime {
	color:#00FF00;	
	color:rgb(0.255.0);
}

.forestgreen {
	color:#228B22;	
	color:rgb(34,139,34);
}

.green	{
	color:#008000;	
	color:rgb(0,128,0);
}

.darkgreen {
	color:#006400;	
	color:rgb(0,100,0);
}

.greenyellow {
	color:#ADFF2F;	
	color:rgb(173,255,47);
}

.yellowgreen {
	color:#9ACD32;	
	color:rgb(154,205,50);
}

.springgreen {
	color:#00FF7F;	
	color:rgb(0,255,127);
}

.mediumspringgreen {
	color:#00FA9A;	
	color:rgb(0,250,154);
}

.lightgreen {
	color:#90EE90;	
	color:rgb(144,238,144);
}

.palegreen {
	color:#98FB98;	
	color:rgb(152,251,152);
}

.darkseagreen {
	color:#8FBC8F;	
	color:rgb(143,188,143);
}

.mediumseagreen	{
	color:#3CB371;	
	color:rgb(60,179,113);
}

.seagreen {
	color:#2E8B57;	
	color:rgb(46,139,87);
}

.olive	 {
	color:#808000;	
	color:rgb(128,128,0);
}

.darkolivegreen	{
	color:#556B2F;	
	color:rgb(85,107,47);
}
.olivedrab {
	color:#6B8E23;	
	color:rgb(107,142,35);
}


// cyan colors
.lightcyan	{
	color:#E0FFFF;	
	color:rgb(224,255,255);
}
.cyan	{
	color:#00FFFF;	
	color:rgb(0,255,255);
}

.aqua	{
	color:#00FFFF;	
	color:rgb(0,255,255);
}

.aquamarine {
	color:#7FFFD4;	
	color: rgb(127,255,212);
}

.mediumaquamarine {
	color: #66CDAA;	
	color:rgb(102,205,170);
}

.paleturquoise	{
	color:#AFEEEE;	
	color:rgb(175,238,238);
}

.turquoise {
	color: #40E0D0;	
	color: rgb(64,224,208);
}

.mediumturquoise {
	color: #48D1CC;	
	color: rgb(72,209,204);
}

.darkturquoise	{
	color:#00CED1;	
	color: rgb(0,206,209);
}

.lightseagreen	{
	color: #20B2AA;	
	color: rgb(32,178,170);
}

.cadetblue {
	color:#5F9EA0;	
	color: rgb(95,158,160);
}

.darkcyan {
	color:#008B8B;	
	color: rgb(0,139,139);
}

.teal {
	color: #008080;	
	color: rgb(0,128,128);
}

// blue colors
.powderblue {
	color:#B0E0E6;	
	color: rgb(176,224,230);
}

.lightblue {
	color:#ADD8E6;	
	color:rgb(173,216,230);
}

.lightskyblue {
	color:#87CEFA;	
	color:rgb(135,206,250);
}

.skyblue {
	color: #87CEEB;	
	color: rgb(135,206,235);
}

.deepskyblue {
	color: #00BFFF;	
	color: rgb(0,191,255);
}

.lightsteelblue	{
	color: #B0C4DE;	
	color: rgb(176,196,222);
}

.dodgerblue {
	color: #1E90FF;	
	color: rgb(30,144,255);
}

.cornflowerblue	{
	color: #6495ED;	
	color: rgb(100,149,237);
}

.steelblue {
	color: #4682B4;
	color: rgb(70,130,180);
}

.royalblue {
	color: #4169E1;	
	color: rgb(65,105,225);
}

.blue {
	color:#0000FF;	
	color:rgb(0,0,255);
}

.mediumblue {
	color: #0000CD;	
	color: rgb(0,0,205);
}

.darkblue {
	color:#00008B;	
	color: rgb(0,0,139);
}

.navy {
	color: #000080;
	color: rgb(0,0,128);
}

.midnightblue	{
	color:#191970;	
	color:rgb(25,25,112);
}

.mediumslateblue {
	color: #7B68EE;	
	color: rgb(123,104,238);
}

.slateblue {
	color: #6A5ACD;	
	color: rgb(106,90,205);
}

.darkslateblue	{
	color:#483D8B;	
	color:rgb(72,61,139);
}


// purple colors
lavender	#E6E6FA	rgb(230,230,250)
 	thistle	#D8BFD8	rgb(216,191,216)
 	plum	#DDA0DD	rgb(221,160,221)
 	violet	#EE82EE	rgb(238,130,238)
 	orchid	#DA70D6	rgb(218,112,214)
 	fuchsia	#FF00FF	rgb(255,0,255)
 	magenta	#FF00FF	rgb(255,0,255)
 	mediumorchid	#BA55D3	rgb(186,85,211)
 	mediumpurple	#9370DB	rgb(147,112,219)
 	blueviolet	#8A2BE2	rgb(138,43,226)
 	darkviolet	#9400D3	rgb(148,0,211)
 	darkorchid	#9932CC	rgb(153,50,204)
 	darkmagenta	#8B008B	rgb(139,0,139)
 	purple	#800080	rgb(128,0,128)
 	indigo	#4B0082	rgb(75,0,130)


// pink colors
pink	#FFC0CB	rgb(255,192,203)
 	lightpink	#FFB6C1	rgb(255,182,193)
 	hotpink	#FF69B4	rgb(255,105,180)
 	deeppink	#FF1493	rgb(255,20,147)
 	palevioletred	#DB7093	rgb(219,112,147)
 	mediumvioletred	#C71585	rgb(199,21,133)

// white colors
white	#FFFFFF	rgb(255,255,255)
 	snow	#FFFAFA	rgb(255,250,250)
 	honeydew	#F0FFF0	rgb(240,255,240)
 	mintcream	#F5FFFA	rgb(245,255,250)
 	azure	#F0FFFF	rgb(240,255,255)
 	aliceblue	#F0F8FF	rgb(240,248,255)
 	ghostwhite	#F8F8FF	rgb(248,248,255)
 	whitesmoke	#F5F5F5	rgb(245,245,245)
 	seashell	#FFF5EE	rgb(255,245,238)
 	beige	#F5F5DC	rgb(245,245,220)
 	oldlace	#FDF5E6	rgb(253,245,230)
 	floralwhite	#FFFAF0	rgb(255,250,240)
 	ivory	#FFFFF0	rgb(255,255,240)
 	antiquewhite	#FAEBD7	rgb(250,235,215)
 	linen	#FAF0E6	rgb(250,240,230)
 	lavenderblush	#FFF0F5	rgb(255,240,245)
 	mistyrose	#FFE4E1	rgb(255,228,225)

// gray colors
gainsboro	#DCDCDC	rgb(220,220,220)
 	lightgray	#D3D3D3	rgb(211,211,211)
 	silver	#C0C0C0	rgb(192,192,192)
 	darkgray	#A9A9A9	rgb(169,169,169)
 	gray	#808080	rgb(128,128,128)
 	dimgray	#696969	rgb(105,105,105)
 	lightslategray	#778899	rgb(119,136,153)
 	slategray	#708090	rgb(112,128,144)
 	darkslategray	#2F4F4F	rgb(47,79,79)
 	black	#000000	rgb(0,0,0)

// brown colors
cornsilk	#FFF8DC	rgb(255,248,220)
 	blanchedalmond	#FFEBCD	rgb(255,235,205)
 	bisque	#FFE4C4	rgb(255,228,196)
 	navajowhite	#FFDEAD	rgb(255,222,173)
 	wheat	#F5DEB3	rgb(245,222,179)
 	burlywood	#DEB887	rgb(222,184,135)
 	tan	#D2B48C	rgb(210,180,140)
 	rosybrown	#BC8F8F	rgb(188,143,143)
 	sandybrown	#F4A460	rgb(244,164,96)
 	goldenrod	#DAA520	rgb(218,165,32)
 	peru	#CD853F	rgb(205,133,63)
 	chocolate	#D2691E	rgb(210,105,30)
 	saddlebrown	#8B4513	rgb(139,69,19)
 	sienna	#A0522D	rgb(160,82,45)
 	brown	#A52A2A	rgb(165,42,42)
 	maroon	#800000	rgb(128,0,0)




