.arial {
	font-name: "Arial";
	font-family: Arial;
}

.timesNewRoman {
	font-name: "Times New Roman";
	font-family: Times New Roman;
}

.helvetica {
	font-name: "Helvetica";
	font-family: Helvetica;
}

.times {
	font-name: Times;
	font-family: Times;
}

.courierNew {
	font-name: Courier New;
	font-family: Courier New;
}

.verdana {
	font-name: Verdana;
	font-family: Verdana;
}

.courier {
	font-name: Courier;
	font-family: Courier;
}

.arialNarrow {
	font-name: Arial Narrow;
	font-family: Arial Narrow;
}

.candara {
	font-name: Candara;
	font-family: Candera;
}

.geneva {
	font-name: Geneva;
	font-family: Geneva;
}

.calibri {
	font-name: Calibri;
	font-family: Calibri;
}

.optima {
	font-name: Optima;
	font-family: Optima;
}

.cambria {
	font-name: Cambria;
	font-family: Cambria;
}

.garamond {
	font-name: Garamond;
	font-family: Garamond;
}

.perpetua {
	font-name: Perpetua;
	font-family: Perpetua;
}

.monaco {
	font-name: Monaco;
	font-family: Monaco;
}

.didot {
	font-name: Didot;
	font-family: Didot;
}

.brushScriptMT {
	font-name: Brush Script MT;
	font-family: Brush Script MT;
}

.lucidaBright {
	font-name: Lucida Bright;
	font-family: Lucida Bright;
}

.copperplate {
	font-name: Copperplate;
	font-family: Copperplate;
}

.trebuchetMS {
	font-name: Trebuchet MS;
	font-family: Trebuchet MS;
}

.gillSans {
	font-name: Gill Sans;
	font-family: Gill Sans;
}

.notoSans { 
	font-name: Noto Sans;
	font-family: Noto Sans;
}

.avantgarde {
	font-name: Avantgarde;
	font-family: Avantgarde;
}

.texGyreAdventor {
	font-name: TeX Gyre Adventor;
	font-family: TeX Gyre Adventor;
}

TeX Gyre Schola
URW Gothic L
Georgia
Palatino
Bookman
URW Bookman L
New Century Schoolbook
American Typewriter
Andale Mono
FreeMono
OCR A Std
DejaVu Sana MOno
Comic Sans MS
Comic Sans
Apple Chancery
Bradley Hand
Brush Script Std
Snell Roundhand
URW Chancery L
Impact - fantasy
Luminari - fantasy
Chalkduster - fantasy
Jazz - fantasy
Jazz LET -fantasy
Blippo - fantasy
Stencil - fantasy
Marker Felt - fantasy
Trattatello - fantasy


